input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid;
    box-sizing: border-box;
    
}
.container {
    padding: 16px;
}
h1 {
    text-align: center;
}
.card {
    width: 40%;
    margin: 0 auto;
}
.btn {
    width: 100%;
    padding: 16px 20px;
    background-color: #f44336;
}